body {
 <!-- background:url("../images/glarb.png") no-repeat left top;-->
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
 font-family: 'Open Sans', sans-serif;
 margin: 30px;
}

.jumbotron {
  background-image:url('http://goo.gl/04j7Nn');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron p {
  color: white;
  text-align: center;
}
